body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;

    background: linear-gradient(-45deg, #6a11cb, #2575fc, #ff758c, #42e695);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 0% }
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 30px;
    background: #2575fc;
    color: white;
    border: none;
    cursor: pointer;
}
